{{>layout/header}} <!-- > 현재 머스테치 파일 index.mustache 를 기준으로 다른 파일을 가져옵니다.  -->
    <h1>스프링 부트로 시작하는 웹 서비스</h1>
    <div class="col-md-12">
        <!--    로그인 기능 역역    -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글등록</a>
                {{#userName}} <!--머스테치는 다른 언어와 같은 if문 (if useName != null 등)을 제공하지 않습니다.-->
                    Logged in as: <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                    <!-- a href="/logout" 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL입니다. -->
                    <!-- 즉, 개발자가 별도로 저 URL에 해당하는 컨트롤러를 만들 필요가 없습니다. -->
                    <!-- SecurityConfig 클래스에서 URL을 변경할 순 있지만 기본 URL을 사용해도 충분하니 여기서는 그대로 사용합니다. -->
                {{/userName}}
                {{^userName}} <!-- 머스테치에서 해당 값이 존재하지 않는 경우에는 ^를 사용합니다. -->
                    <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그인 URL입니다. -->
                    <!-- 로그아웃 URL과 마찬가지로 개발자가 별도의 컨트롤러를 생성할 필요가 없습니다. -->
                    <a href="/oauth2/authorization/google"
                       class="btn btn-success active" role="button">Google Login</a>
                {{/userName}}
            </div>
        </div>
    </div>
    <br>
    <!--  목록 출력 영역  -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}             <!-- posts list를 반복 (for 문) -->
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
{{>layout/footer}}